<script src="/assets/js/vendor/jquery/jquery-1.12.4.min.js"></script>

<script src="/assets/js/plugins/jquery.fitvids.js"></script>
<script src="/assets/js/plugins/jquery.greedy-navigation.js"></script>
<script src="/assets/js/plugins/jquery.smooth-scroll.min.js"></script>
<script src="/assets/js/plugins/stickyfill.min.js"></script>
<script src="/assets/js/plugins/jquery.magnific-popup.js"></script>

<script src="/assets/js/main.min.js"></script>

{{ partial "analytics.html" . }}
{{ partial "google-scholar-stats.html" . }}
